controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    use_sim_time: true
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    diff_drive_controller:
        type: diff_drive_controller/DiffDriveController

diff_drive_controller:
  ros__parameters:
    # type: diff_drive_controller/DiffDriveController
    left_wheel_names: ["base_link_to_left_wheel"]
    right_wheel_names: ["base_link_to_right_wheel"]
    wheel_separation: 0.3
    wheels_radius: 0.04
    pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    enable_odom_tf: true
    odom_frame_id: odom
    base_frame_id: base_footprint